[user]
	email = alonfnt@pm.me
	name = Albert Alonso
[push]
	default = simple
[credential]
	helper = store
[diff "hex"]
	textconv = xxd
	binary = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
	smudge = git-lfs smudge -- %f
	required = true
[diff]
	tool = vimdiff3
[pull]
	rebase = false
[difftool "vimdiff3"]
	path = nvim
[merge]
	tool = vimdiff3
